body{
    background-color: 	#F08080;

}

#titulo {
    font-size: 30px;
    text-align: center;
    color:rgb(124, 4, 30)
}


.texto {
    text-align: center;
    color:rgb(172, 20, 45);
    font-size: 20px;
}

#banner {
    width: 15%;
    padding: 10px;
    margin: 10px;
}

.titulo {
    background-image: linear-gradient(#cc8484, #aa2b2b);
    color: rgb(53, 4, 15);
    text-align: center;

}