body{
    background-color: 	#F08080;

}

#titulo {
    font-size: 30px;
    text-align: center;
    color:rgb(124, 4, 30)
}


.texto {
    text-align: center;
    color:rgb(172, 20, 45);
    font-size: 20px;
}

#banner {
    width: 15%;
    padding: 10px;
    margin: 10px;
}

.titulo {
    background-image: linear-gradient(#cc8484, #aa2b2b);
    color: rgb(53, 4, 15);
    text-align: center;
}

header{
    padding: 20px;
    background-color: rgba(138, 14, 82, 0.5) 4, 39;
    border-bottom: 2px solid white;
    font-size: 20px;
    color: rgb(138, 14, 82) 4, 39;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

.cabecalho-titulo{
    font-size: 20px;
    color rgb(138, 14, 82) 4, 39;
    text-align: center;
}

.lista{
    color: rgb(172, 20, 45);
}