body{
    background-color: #CD5C5C;

}

#titulo {
    font-size: 30px;
    text-align: center;
    color:rgb(143, 7, 37)
}


.texto {
    text-align: center;
    color:rgb(216, 40, 69);
    font-size: 20px;
}